body {
    background-color: azure;
    color: darkred;
}

h1 {
    color: darkblue;
}

h2 {
    color: black;
    font-size: 23px;
}

p {
    color: purple;
    font-size: 15 px;
}

#NewReflection {
    color: brown;
    background-color: white;
}

li {
    color: darkcyan;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}